
@{
    ViewBag.Title = "Index";
    Layout = "~/Models/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-3 pt-3">
            <div class="card text-bg-dark">
                <img src="~/image/IMG-9071-min.jpg" class="card-img">
                @*<div  style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.5);color: #fff;padding: 1%;">
                    <h5 class="card-title">Fatih Kütüphaneleri</h5>
                    <p class="card-text">S_Begenjov kütüphanelerin sorumlusu</p>
                    <p class="card-text"><small>7/24 Hizmetinizdeyiz</small></p>
                </div>*@

            </div>
            
            <div class="d-flex rounded w-100  bg-light justify-content-center">
                    <div class="col-2 text-center">
                        <img style="width:50%; height:50%" src="~/image/world.png" />
                    </div>
                    <div  class="col-2 text-center">
                        <img style="width:50%; height:50%" src="~/image/instagram (2).png" />
                    </div>
                    <div class="col-2 text-center">
                        <img style="width:50%; height:50%" src="~/image/twitter (2).png" />
                    </div>
                    <div class="col-2 text-center">
                        <img style="width:50%; height:50%" src="~/image/youtube (1).png" />
                    </div>
                    <div class="col-2 text-center">
                        <img style="width:50%; height:50%" src="~/image/facebook (1).png" />
                    </div>
            </div>
        </div>
        <div class="col-9" style="border-radius: 10px">
            <div class="kayan-resim">
                <div class="container-lg my-3">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/image/43-kutuphaneler-20230620-093515-fatihbel_1600x760.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="~/image/43-kutuphaneler-20230620-093515-fatihbel_1600x760.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="~/image/43-kutuphaneler-20230620-093515-fatihbel_1600x760.jpg" class="d-block w-100">
                            </div>
                        </div>

                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
        <marquee class="text-uppercase " style="font-family:Papyrus; font-size:100%"> <b>fatih' i yasa fatih'te yasa</b> </marquee><hr />
    </div>
    <div class="row justify-content-around align-items-baseline d-flex" >
        <div class="col-3 flex-column">
            <div class="card" style="width: 18rem;">
                <img class=" card-img-top" src="~/image/kutuphaneler/306-fatih-merkez-kutuphanesi-fat.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Fatih Merkez Kütüphanesi</h5>
                    <a href="#" class="btn btn-primary">İncele</a>
                </div>
            </div>
        </div>
        <div class="col-3 flex-column">
            <div class="card" style="width: 18rem;">
                <img style="height:10%" class="card-img-top" src="~/image/kutuphaneler/243-topkapi-kutuphanesi-fatihbel_255x285.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Topkapı Kütüphanesi</h5>
                    <a href="#" class="btn btn-primary">İncele</a>
                </div>
            </div>
        </div>
        <div class="col-3 flex-column">
            <div class="card" style="width: 18rem;">
                <img style="height:10%" class="card-img-top" src="~/image/kutuphaneler/149-vani-dergahi-kutuphanesi-fatihbel_255x285.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Vani Dergahi Kütüphanesi</h5>
                    <a href="#" class="btn btn-primary">İncele</a>
                </div>
            </div>
        </div>
    </div>
    </div>


