
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<p>
    Huma H4 V5.1 14,1" İş Bilgisayarı - Gümüş · Intel® Alder Lake Core™ i5-1235U 10C/12T; 12MB L3; E-CORE Max 3.30GHZ P-CORE Max 4.40GHZ;
</p>

