<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        &copy; Begenjov Ailesi, Tüm hakları saklıdır. @DateTime.Now
    </div>
</body>
</html>
