
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="iletisim">
    <div class="opI">
        <img src="~/image/ÇBK Logo 2 (1).png" />
    </div>
    <div class="Iresim">
        <img src="~/image/kayit-ol-1.jpg" />
    </div>
    <div class="yaz">
        <p>
            Bilgilerinizi Bize Bırkın Biz Sizi Arayalım
        </p>
    </div>
</div>

