@*@model Incelleme_1.Models.ViewModels.HizmetPersonel*@
@{
    ViewData["Title"] = "Index";
}

<h1>Değişecek alan</h1>

@*VievModel olan çalışma alanı*@

@*<table>
    <tr>
        <td>
            @Model.Hizmetler.HizmetAdi
        </td>
        <td>
            @Model.Personel.AdSoyad
        </td>
    </tr>
</table>*@

@*tumple yöntem ile kullanımı*@


@*@model (Incelleme_1.Models.Hizmetler hizmetler, Personel personel)
<p>@Model.hizmetler.HizmetAdi</p>
<p>@Model.personel.AdSoyad</p>*@